<h1>Liste des pokemons</h1>
<a href="/collectionCarte">créer une carte</a>
<table style="width:100%">
    <tr>
        <th>Nom</th>
        <th>puissance</th>
        <th>attaque</th>
        <th>Brillant</th>
        <th>Rare</th>
        <th>pokemon Attaché</th>
        <th>modifier</th>
        <th>supprimer</th>
    </tr>
    <% for( let i = 0; i <listCarte.length; i++ ) {
        %>
    <Form action="/listCarte/<%= listCarte[i].idcarte  %>" method="GET">
    <tr>
      <th><input type="text" name="cartenom" value="<%= listCarte[i].nomcarte %>"></th>
      <th><input type="number" min="1" max="100" name="puissance" value="<%= listCarte[i].puissance %>"></th>
      <th><input type="text" name="attaque" value="<%= listCarte[i].attaque %>"></th>
      <th><select name="isBrillant" id="Brillant">
    <%  
        if(listCarte[i].IsBrillant == 1 ){ %>
            <option selected="selected" value="1">oui</option>
            <option value="0">non</option>
       <% }  
        else
        { %>
            <option value="1">oui</option>
            <option selected="selected" value="0">non</option>
      <%  } 
        %>
      </select></th>
      <th><select name="isRare" id="Rare">
        <%  
            if(listCarte[i].IsRare == 1){ %>
                <option selected="selected" value="1">oui</option>
                <option value="0">non</option>
           <% }  
            else
            { %>
                <option value="1">oui</option>
                <option selected="selected" value="0">non</option>
          <%  } 
            %>
          </select></th>
      <th>
          <select name="pokemonattache" id="pokemon">
        <% 
        for( let j = 0; j <pokemons.length; j++ ) { 
            if(listCarte[i].idpokemon == pokemons[j].idpokemon) {  %>
            <option selected="selected" value="<%= pokemons[j].idpokemon %> "> <%= pokemons[j].nom %> </option>
        <%  } else { %>
            <option value="<%= pokemons[j].idpokemon %> "> <%= pokemons[j].nom %> </option>
        <%  } } %>
         </select>
      </th>
      <th><button name="update" value="update">update</button></th>
      <th><button name="delete" value="delete">delete</button></th>
      <th><input type="hidden" name="idpokemon" value="<%= listCarte[i].idpokemon %>"></th>
    </tr>
</Form>
      <%  } %>
  </table>
    

